    //* CORES PRIMÁRIAS */
    $color-primary-50 : #E1F1F1;
    $color-primary-100: #B5DDDC;
    $color-primary-200: #86C8C5;
    $color-primary-300: #5AB2AE;
    $color-primary-400: #3FA19C; //* (P) */
    $color-primary-500: #2A918A;
    $color-primary-600: #27847D;
    $color-primary-800: #23756D;
    $color-primary-800: #1F655D;
    $color-primary-900: #174941;

    // CORES SECUNDÁRIAS */
    $color-secondary-50 : #FDF2E2;
    $color-secondary-100: #FADEB6;
    $color-secondary-200: #F7C988;
    $color-secondary-300: #F4B45B;
    $color-secondary-400: #F2A43E;
    $color-secondary-500: #EF952D;
    $color-secondary-600: #EB8B2A; //* (S) */
    $color-secondary-800: #E47C27;
    $color-secondary-800: #DD6E24;
    $color-secondary-900: #D15821;

    // CORES COMPLEMENTARES, TEXTOS, BORDAS, BOX-SHADOW ETC */
    $color-complement-50 : #F2F7FA;
    $color-complement-100: #E6ECF1;
    $color-complement-400: #93ADBE;
    $color-complement-600: #5D7A8C;

    // CORES NEUTRAS */
    $color-blue-gray-50: #ECEFF1;
    $color-blue-gray-100: #CFD8DC;
    $color-blue-gray-200: #B0BEC5;
    $color-blue-gray-300: #90A4AE;
    $color-blue-gray-400: #78909C;
    $color-blue-gray-500: #607D8B;
    $color-blue-gray-600: #546E7A;
    $color-blue-gray-800: #455A64;
    $color-blue-gray-800: #37474F;
    $color-blue-gray-900: #263238;

    $color-white: #FFFFFF;
    $color-black: #000000;

    // CORES DE FEEDBACK */
    $colors-feedback-primary-main: #0866ff;
    $colors-feedback-primary-50: #EEE7F7;
    $colors-feedback-primary-100: #D3C3EC;
    $colors-feedback-primary-200: #B79CDF;
    $colors-feedback-primary-300: #9A73D3;
    $colors-feedback-primary-400: #8453C9;
    $colors-feedback-primary-500: #6E34BE;
    $colors-feedback-primary-600: #652FB9;
    $colors-feedback-primary-800: #5727B0; //* (FP) */
    $colors-feedback-primary-800: #4B20A9;
    $colors-feedback-primary-900: #36129C;

    $colors-feedback-success-50: #E7F6E5;
    $colors-feedback-success-100: #C5E8BE;
    $colors-feedback-success-200: #9ED994;
    $colors-feedback-success-300: #74CA67;
    $colors-feedback-success-400: #51BF43;
    $colors-feedback-success-500: #27B312;
    $colors-feedback-success-600: #18A403; //* (FS) */
    $colors-feedback-success-800: #009200;
    $colors-feedback-success-800: #008100;
    $colors-feedback-success-900: #006200;

    $colors-feedback-change-50: #F9E3F0;
    $colors-feedback-change-100: #EEB8D9;
    $colors-feedback-change-200: #E387C1;
    $colors-feedback-change-300: #D452A9;
    $colors-feedback-change-400: #C91B98;
    $colors-feedback-change-500: #BC0088;
    $colors-feedback-change-600: #AF0084;
    $colors-feedback-change-800: #9E007F;
    $colors-feedback-change-800: #8E0079;
    $colors-feedback-change-900: #72006F;

    $colors-feedback-warning-50: #F9F2E2;
    $colors-feedback-warning-100: #F2DDB5;
    $colors-feedback-warning-200: #EAC886;
    $colors-feedback-warning-300: #E3B259;
    $colors-feedback-warning-400: #DFA33B;
    $colors-feedback-warning-500: #DA9528;
    $colors-feedback-warning-600: #D68A24;
    $colors-feedback-warning-800: #D07D1F;
    $colors-feedback-warning-800: #C96F1B;
    $colors-feedback-warning-900: #BD5B17;

    $colors-feedback-danger-50: #FFEAED;
    $colors-feedback-danger-100: #FFCBCF;
    $colors-feedback-danger-200: #F29795;
    $colors-feedback-danger-300: #E96F6B;
    $colors-feedback-danger-400: #F24D45;
    $colors-feedback-danger-500: #F63B28;
    $colors-feedback-danger-600: #E83028;
    $colors-feedback-danger-800: #D62422;
    $colors-feedback-danger-800: #C91B1B;
    $colors-feedback-danger-900: #BA050C;