<form action="#" method="get" class="search-bar">
    <i class="search-bar_collapse fa-solid fa-chevron-right"></i>
    <section class="search-bar_group">
          <button class="search-bar_group-btn">
                <span class="search-bar_btn-text">Pesquisar</span>
                <i class="fa-solid fa-magnifying-glass search-bar_btn-icon"></i>
          </button>
          <input type="text" name="search" class="search-bar_group-field" placeholder="Pesquisar">
    </section>
</form>